//
// Theme style
//

// Mode
$mode: default;

// Initialize
@import "init";

// Components
@import "./core/components/components";
@import "components/components";

// Layout
@import "layout/layout";
@import "./core/layout/docs/layout";

// Additional
#kt_content_container {
  max-width: none !important;

  .table {
    a {
      span {
        display: none;
      }
    }
  }

  #event-location-heading {
    button {
      margin-right: 10px;
    }
  }
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: none !important;
  }
}
